.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)), url('./img/hero.jpg');
    background-position: top;

    /* now we will use clip path */
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 4rem;
    }

    &__text {
        position: absolute;
        /* this 40 and 50 % are relation with the parent  */
        left: 50%;
        top: 40%;
        /* this is related with element  */
        transform: translate(-50%, -50%);

    }
}