.card {
    // we can define the presprective for more clear upward roatathion
    perspective: 150rem;
    // for mozila
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem; // to be given to him because down if positon is absolute then it is removed form the flow of document okk and her if it is not define then it's height is colepased

    &__side {
        background-color: red;
        color: white;
        font-size: 2rem;
        height: 100%;

        transition: all 0.8s ease;
        // when we do positoion absolute then it try to fit content size
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // this will hide the back part okk 
        backface-visibility: hidden;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0rem 1.5rem 4rem rgba($color-black , 0.15);




        &--front {
            background-color: $color-white;

            //     &-c11 {
            //         // background-image: linear-gradient(to bottom right, $color-white,)
            //     }

            //     &-c21 {
            //         // background-image: linear-gradient(to bottom right, $color-white,)
            //     }

            //     &-c31 {
            //         // background-image: linear-gradient(to bottom right, ,$color-white )
            //     }
        }

        &--back {
            // background-color: green;
            transform: rotateY(180deg);

            &--c12 {
                background-image: linear-gradient(to bottom right, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark , 0.8))
            }

            &--c22 {
                background-image: linear-gradient(to bottom right, rgba($color-primary-light , 0.8), rgba($color-primary-dark , 0.8))
            }

            &--c32 {
                background-image: linear-gradient(to bottom right, rgba($color-tertuary-light, 0.8), rgba($color-tertuary-dark , 0.8))
            }
        }
    }




    // .card:hover .card__side{}
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);

        & .card__cta {
            & .card__side--back--animate {
                display: inline-block;
                // background-color: RED;
                animation: moveup;
                animation-duration: 3s;
            }



        }



    }

    &__discover-tour-btn--green {
        width: 100%;

    }


    // front side 
    &__picture {
        background-size: cover;
        height: 23rem;
        // adding bleand mode with the linear gradiant on top of pic 
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        // clip path for all the browser work 
        --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

        &--1 {
            background-image: linear-gradient(to bottom right, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark , 0.8)), url('./../../img/nat-5.jpg');
        }

        &--2 {
            background-image: linear-gradient(to bottom right, rgba($color-primary-light, 0.8), rgba($color-primary-dark , 0.8)), url('./../../img/nat-6.jpg');
        }

        &--3 {
            background-image: linear-gradient(to bottom right, rgba($color-tertuary-light, 0.8), rgba($color-tertuary-dark , 0.8)), url('./../../img/nat-7.jpg');
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;



    }

    &__heading-span {
        padding: 1rem 1.5rem;
        // this padding is applied to start and end of letter but we broke it and we want it to apply after break even
        --webkit-box-decoration-break: clone;
        box-decoration-break: clone;



        &--1 {
            background-image: linear-gradient(to bottom right, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark , 0.8));
        }
    }

    &__details {
        padding: 3rem;

        ul {

            list-style: none;
            width: 80%;
            // to center div in div
            margin: 0 auto;
            color: black;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid gray;
                }
            }
        }
    }

    // back fo front side styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__price-box {
        margin-bottom: 10rem;
    }

    &__price-only {
        font-size: 2rem;

    }

    &__price-value {

        font-size: 6rem;
        font-weight: 100;
    }

}